/**/

:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --naranjaAburrido: #876445;
    --gris: #b4b4b4e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.4rem;
    line-height: 2;
}

/* GLOBALES */

.contenedor {
    max-width: 100rem;
    width: 90%;
    /*ES LO MISMO QUE LAS LINEAS DE ARRIBA width: min(90%, 100rem); */
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.5;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
    margin-bottom: 6rem;
}

h4 {
    font-size: 2.2rem;
}

img {
    max-width: 100%;
}

/* UTILIDADES */
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* HEADER */

.webp .header {
    background-image: url(../img/banner.webp);
}

.no-webp .header {
    background-image: url(../img/banner.jpg);
}

.header {
    height: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

.barra {
    padding-top: 3rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__texto {
        margin-top: 10rem;
    }
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: normal;
}

.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
    padding-right: 2rem;
    /* PARA QUE EN TAMAÑOS DE CELULAR SALGA LA SEPARACIÓN DE ENLACES, SE PONE ESTA SINTAXIS*/

}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    margin-bottom: 4rem;
    border-bottom: 1px solid var(--gris);
}

.entrada:last-of-type {
    border: none;
}

.entrada__contenido {
    margin-bottom: 3rem;
    text-align: justify;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--naranjaAburrido);
}

.cursos {
    list-style: none;
}

.widget-curso {
    margin-bottom: 3rem;
}

.widget-curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.widget-curso__info {
    font-weight: normal;
}

.widget-curso__info,
.widget-curso__label {
    font-size: 1.8rem;

}

.footer {
    background-color: var(--negro);
    padding: 3rem 0;
    margin-top: 4rem;
}

/* SOBRE NOSOTROS*/
@media (min-width: 768px) {
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }

    .sobre-nosotros__imagen {
        flex: 0 0 calc(50% - 1rem);
    }

    .sobre-nosotros__texto {
        flex: 0 0 calc(50% - 1rem);
        text-align: justify;
        margin-top: 5rem;
    }

    /* .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        ES LO MISMO QUE LO ESCRITO ANTERIORMENTE
    } */
}

.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.curso__info {
    font-weight: normal;
}

.curso__info,
.curso__label {
    font-size: 1.8rem;

}

.curso__descripcion,
.informacion {
    text-align: justify;
}

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -8rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
}